<?xml version="1.0"?>
<model>
  <name>ETHZ Tailsitter</name>
  <version>1.0</version>
  <sdf version='1.5'>ts_ethz.sdf</sdf>

  <author>
   <name>Akshit Jain</name>
   <email>jaina488@gmail.com</email>
  </author>

  <description>
    This is a model of a tailsitter from ETHZ tailsitter
  </description>
</model>
